<div class="container1"> 
  <div class="container2">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Search for text" floatLabel=false>
      <mat-icon matSuffix aria-hidden="false" aria-label="mat-icon">search</mat-icon>
    </mat-form-field>
  </div>
</div>
<div class="radio">
  <mat-radio-group (change)="seasonChanged($event)" [(ngModel)]="seasonType">
    <mat-radio-button  *ngFor="let item of items" [value]="item">{{item}}</mat-radio-button>
  </mat-radio-group>
 
</div>

<div *ngIf="isSelected('Winter')" class="content1">
  I am most dangerous {{ seasonType}} season.
</div>
<!-- <div *ngIf="isSelected('Spring')" class="content2">
  I am most dangerous {{ seasonType}} season.
</div> -->